.round-border {
  border-radius: 14px !important;
}

.snackbar__wrapper {
  border-radius: 14px !important;
  background: var(--card-color) !important;
}

.v-snackbar__content {
  border: solid 1px var(--border-color) !important;
  border-radius: 14px !important;
  background: var(--card-color) !important;
}

.image-transition {
  transition: .25s ease;
}

.gradient-border-bottom {
  position: relative;
}

.gradient-border-bottom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--color-primary), transparent);
}

.gradient-border-right {
  position: relative;
}

.gradient-border-right::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--color-primary), transparent);
}

.green-border {
  transition: border-color 0.3s ease-in-out;
}

.green-border:hover {
  border-bottom: solid 2px transparent !important;
  border-right: solid 2px transparent !important;
  border-bottom-color: var(--color-primary) !important;
  border-right-color: var(--color-primary) !important;
}
